<h1>New Feed</h1>

  
  <form role = "form">
  
  <div class="form-group">
    <label>Title:
      <input id="title" type="text" name="feed[title]" class="form-control">
    </label>
  <br>
    <label>Url:
      <input id="url" type="text" name="feed[url]" class="form-control">
    </label>
  <input type="submit" class = "btn" class="btn-primary">
  </div>
  
  </form>